@import url('../shared/shared.css');

.index__about-us {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 6rem 1.5rem;
}

.index__about-us__img {
  height: 25rem;
  width: 100%;
  max-width: 81.25rem;
  object-fit: cover;
  opacity: 0.9;
  border-radius: var(--radius);
  margin-top: 2.25rem;
  margin-left: auto;
  margin-right: auto;
}

.index__services {
  width: 100vw;
  background: var(--clr-primary-dark);
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 6rem 1.5rem;
}

.index__services .info-box__content {
  padding-bottom: 1.5rem;
}

.index__services .info-box__content h2 {
  color: var(--clr-white);
  max-width: 30.125rem;
}

.index__services .info-box__content p {
  color: var(--clr-white);
  opacity: 0.8;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 81.25rem;
}

.accordion__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--clr-white);
}

.accordion__item-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  cursor: pointer;
}

.accordion__item-title.opened {
  color: var(--clr-accent);
}

.accordion__item-arrow {
  width: 3.125rem;
  height: 3.125rem;
  transition: transform 0.3s;
}

.accordion__item-arrow-opened {
  background: url('../index/imgs/button-open.png') center/cover no-repeat;
  color: var(--clr-accent);
  transform: rotate(135deg);
}

.accordion__item-arrow-closed {
  background: url('./imgs/button-close.png') center/cover no-repeat;
  transform: rotate(180deg);
}

.accordion__item-image {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.7s ease, opacity 0.7s ease;
}

.accordion__item-image.active {
  width: 100%;
  max-height: 14.5rem;
  object-fit: cover;
  border-radius: var(--radius);
  margin-bottom: 2rem;
  opacity: 1;
}

.index__projects {
  width: 100vw;
  background: var(--clr-white);
  color: var(--clr-primary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 6rem 1.5rem;
}

.index__projects .info-box__content h2 {
  color: var(--clr-primary);
  max-width: 30.125rem;
}

.index__projects .info-box__content p {
  opacity: 0.8;
}

.projects-box {
  width: 100%;
  max-width: 81.25rem;
  height: auto;
  margin: 0 auto;
}

.projects-box__portfolio {
  width: 100%;
  max-width: 81.25rem;
  /* max-height: 24.75rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-box__portfolio:first-child {
  padding-bottom: 4rem;
  margin-top: 4rem;
}

.projects-box__portfolio:not(:first-child) {
  border-top: 0.125rem solid var(--clr-primary);
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.projects-box__portfolio-info {
  width: 100%;
  max-width: 32rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.portfolio-header h4 {
  color: var(--clr-primary-dark);
}

.portfolio-header img {
  width: 3.25rem;
  height: 3.25rem;
  transform: rotate(180deg);
}

.portfolio-body {
  text-align: justify;
  margin-bottom: 2.5rem;
}

.portfolio-services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  border-top: 1px solid var(--clr-primary);
  padding-top: 0.75rem;
}

.projects-box__portfolio-img {
  width: 100%;
  max-width: 35.75rem;
  height: auto;
}

.projects-box__portfolio:nth-child(odd) .projects-box__portfolio-info {
  order: 1; /* Move info div to the left */
  margin-right: 2rem;
}

.projects-box__portfolio:nth-child(odd) .projects-box__portfolio-img {
  order: 2; /* Move img div to the right */
}

.projects-box__portfolio:nth-child(even) .projects-box__portfolio-info {
  order: 2; /* Move info div to the right */
  margin-left: 2rem;
}

.projects-box__portfolio:nth-child(even) .projects-box__portfolio-img {
  order: 1; /* Move img div to the left */
}

@media screen and (max-width: 1300px) {
  .projects-box__portfolio-img {
    max-width: 33.75rem;
  }
}

@media screen and (max-width: 1200px) {
  .header__hero-img img {
    max-width: 62.5rem;
  }

  .projects-box__portfolio-img {
    max-width: 30rem;
  }
}

@media screen and (max-width: 1024px) {
  .header__hero-img img {
    max-width: 57rem;
  }
}

@media screen and (max-width: 992px) {
  .header__hero-img img {
    max-width: 50rem;
  }

  .index__services .info-box__content h2,
  .index__projects .info-box__content h2 {
    max-width: 25rem;
  }

  .projects-box__portfolio-img {
    max-width: 25rem;
  }

  .accordion__item-arrow,
  .portfolio-header img {
    width: 2.75rem;
    height: 2.75rem;
  }

  .portfolio-services {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .accordion__item-arrow,
  .portfolio-header img {
    width: 2.25rem;
    height: 2.25rem;
  }
}

@media screen and (max-width: 576px) {
  .accordion__item-arrow,
  .portfolio-header img {
    width: 2rem;
    height: 2rem;
  }

  .portfolio-body {
    margin-bottom: 1.5rem;
  }

  .portfolio-services {
    border-bottom: 1px solid var(--clr-primary);
    padding-bottom: 0.75rem;
  }

  .projects-box__portfolio {
    flex-direction: column;
  }

  .projects-box__portfolio-img {
    margin-top: 1.5rem;
  }

  .projects-box__portfolio:first-child {
    padding-bottom: 2rem;
    margin-top: 2rem;
  }

  .projects-box__portfolio:not(:first-child) {
    padding-top: 2rem;
    margin-bottom: 2rem;
  }

  .projects-box__portfolio:nth-child(odd) .projects-box__portfolio-info {
    order: 1;
    margin-right: 0;
  }
  
  .projects-box__portfolio:nth-child(odd) .projects-box__portfolio-img {
    order: 2;
  }
  
  .projects-box__portfolio:nth-child(even) .projects-box__portfolio-info {
    order: 1;
    margin-left: 0;
  }
  
  .projects-box__portfolio:nth-child(even) .projects-box__portfolio-img {
    order: 2;
  }
}