/*
=============== 
Font import
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poller+One&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* fonts */
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Poller One', cursive;

  /* primary/main colour */
  --clr-primary: hsl(221, 78%, 49%);
  --clr-primary-light: hsl(208, 100%, 69%);
  --clr-primary-dark: hsl(233, 56%, 17%);

  /* secondary colour */
  --clr-secondary: hsl(0, 0%, 96%);

  /* gray colour */
  --clr-gray: hsl(210, 9%, 77%);

  /* accent colour */
  --clr-accent: hsl(27, 77%, 65%);

  /* other colours */
  --clr-background-hero: hsl(233, 76%, 30%);
  --clr-off-white: hsl(210, 6%, 93%);
  --clr-white: hsl(0, 0%, 100%);

  /* others */
  --radius: 50px;
}

/*
=============== 
Global Styles
===============
*/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-primary-dark);
  line-height: 1.5;
  font-size: 1.125rem;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-primary);
  line-height: normal;
  text-transform: capitalize;
}

h5 {
  font-family: var(--ff-secondary);
  line-height: normal;
  text-transform: uppercase;
  color: var(--clr-accent);
}

h1,
h2 {
  font-size: 3.125rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.25rem;
}

.btn {
  display: flex;
  align-items: flex-start;
  border: 0.5rem solid var(--clr-accent);
  border-radius: var(--radius);
  padding: 0.75rem 3.5rem;
  background: var(--clr-accent);
  color: var(--clr-white);
  font-size: 1.25rem;
  font-weight: 600;
}

.btn:hover {
  color: var(--clr-accent);
  background: var(--clr-white);
  cursor: pointer;
}

/*
==================
Hero and Navbar
==================
*/

.header {
  width: 100vw;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5rem 1.5rem 0;
  background: var(--clr-background-hero);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 81.25rem;
  margin: auto;
}

.logo {
  width: 6.5rem;
  height: 5.25rem;
  z-index: 5;
}

.header__menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  z-index: 5;
}

.header__menu a {
  color: var(--clr-white);
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
  margin-left: 2.875rem;
}

.header__menu a:hover {
  color: var(--clr-primary-light);
}

.header__menu a.selected {
  color: var(--clr-accent);
}

.header__menu-contact {
  border: 2px solid var(--clr-accent);
  border-radius: var(--radius);
  padding: 0.5rem 1.5rem;
}

.header__menu .header__menu-contact:hover {
  background: var(--clr-accent);
  color: var(--clr-white);
}

.menu-btn {
  font-size: 1.5rem;
  color: var(--clr-white);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  display: none;
}

.menu__toggle:hover {
  color: var(--clr-primary-light);
  transform: rotate(90deg);
}

.menu__close-btn:hover {
  transform: rotate(360deg);
}

.header__hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  max-width: 81.25rem;
  margin: 0 auto;
}

.header__hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 0;
  max-width: 41.24rem;
  max-height: 12rem;
  z-index: 99;
}

.header__hero-info h1 {
  color: var(--clr-white);
  font-weight: 700;
  margin: 2.25rem auto;
}

.header__hero-info p {
  color: var(--clr-white);
  opacity: 0.8;
  max-width: 28.125rem;
  text-align: justify;
}

.header__hero-info .btn {
  margin-top: 3rem;
}

.header__hero-img img {
  position: relative;
  max-width: 67.75rem;
  max-height: 47.75rem;
  margin-top: -4.25rem;
  object-fit: cover;
}

.info-box {
  width: 100%;
  max-width: 81.25rem;
  margin-left: auto;
  margin-right: auto;
}

.info-box__h5-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.info-box__h5-title {
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-right: 0.75rem;
  flex-shrink: 0;
}

.info-box__orange-line {
  height: 0.15rem;
  width: 72.75rem;
  background: var(--clr-accent);
}

.info-box__content {
  display: flex;
  justify-content: space-between;
}

.info-box__content h2 {
  display: flex;
  color: var(--clr-primary);
  font-weight: 800;
  max-width: 34.625rem;
  margin-right: 1.5rem;
  flex-shrink: 1;
}

.info-box__pTextBtn-container {
  display: flex;
  flex-direction: column;
  max-width: 29.125rem;
  flex-shrink: 2;
}

.info-box__pTextBtn-container p {
  text-align: justify;
}

.info-box__pTextBtn-container .text-btn {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
  color: var(--clr-accent);
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.footer {
  width: 100vw;
  background: var(--clr-primary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 6rem 1.5rem 0;
}

.footer__info-box {
  width: 100%;
  max-width: 81.25rem;
}

.footer__info-box h2 {
  color: var(--clr-white);
  max-width: 42.75rem;
}

.footer__content-container {
  width: 100%;
  max-width: 81.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7.25rem;
  margin-bottom: 7.25rem;
  border: 1px solid var(--clr-primary);
  border-radius: var(--radius);
  background: url('../index/imgs/gradient.png') center/cover no-repeat;
}

.footer__info-content {
  width: 100%;
  max-width: 29rem;
  margin-left: 5.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__info-content h2 {
  color: var(--clr-white);
  font-weight: 800;
  margin-bottom: 2rem;
}

.footer__img-content img {
  width: 100%;
  max-width: 40.125rem;
  max-height: 35.5rem;
  margin-top: -7rem;
  margin-bottom: -0.5rem;
}

.footer__line {
  width: 100%;
  max-width: 81.25rem;
  height: 1px;
  background: var(--clr-accent);
}

.footer__additional-info {
  width: 100%;
  max-width: 81.25rem;
  display: flex;
  margin-top: 3rem;
  color: var(--clr-off-white);
  font-size: 1rem;
  line-height: 2;
}

.footer__contacts {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.footer__contacts img {
  width: 6.5rem;
  height: 5.25rem;
  margin-bottom: 2rem;
}

.footer__details {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list a {
  font-weight: 600;
  color: var(--clr-off-white);
  text-decoration: none;
}

.footer__menu-list a:hover {
  color: var(--clr-primary-light);
}

.footer__privacy p:first-child {
  font-weight: 600;
}

.footer__social {
  display: flex;
  flex-direction: column;
}

.footer__social p {
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer__social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-icons a {
  color: var(--clr-off-white);
  font-size: 1.5rem;
  text-decoration: none;
}

.footer__social-icons a:hover {
  color: var(--clr-primary-light);
}

.footer__rights {
  display: flex;
  align-items: center;
  color: var(--clr-off-white);
  font-size: 0.85rem;
  margin: 2.5rem auto;
}

@media screen and (max-width: 1200px) {
  .btn {
    font-size: 1.15rem;
    padding: 0.65rem 3rem;
  }

  h1,
  h2 {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 992px) {
  body {
    font-size: 1rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.5rem 2.5rem;
  }

  h1,
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.15rem;
  }

  .menu-btn {
    display: block;
    z-index: 1;
  }

  .header__menu .menu__close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
    z-index: 999;
  }
  
  .header__menu {
    position: fixed;
    background: var(--clr-background-hero);
    flex-direction: column;
    min-width: 20rem;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 5rem 3.5rem;
    transition: 1s;
    transition-property: right, padding;
    z-index: 100;
  }

  .header__menu.show-links {
    right: 0;    
  }

  .header__menu a {
    display: block;
    font-size: 1.3rem;
    margin: 1.1rem;
    padding: 0 1rem;
  }

  .info-box__pTextBtn-container .text-btn {
    font-size: 0.85rem;
  }

  .footer__info-content {
    margin-left: 3.75rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.85rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.35rem 2rem;
  }

  h1,
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.15rem;
  }

  h5 {
    font-size: 1rem;
  }

  .footer__info-content {
    margin-left: 2.75rem;
  }

  .footer__additional-info {
    flex-direction: column;
  }

  .footer__contacts {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .footer__contacts img {
    margin-bottom: 0;
  }

  .footer__details {
    justify-content: space-between;
  }
}

@media screen and (max-width: 576px) {
  h1,
  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.85rem;
  }

  .header__menu {
    width: 100%;
    height: 100vh;
  }

  .info-box__content {
    flex-direction: column;
  }

  .info-box__content h2 {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .footer__content-container {
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .footer__info-content {
    margin: 1.5rem 0 1.5rem 1.5rem;
  }

  .footer__info-content h2 {
    max-width: 16.25rem;
  }

  .footer__img-content img {
    margin: 0 auto -0.4rem auto;
  }

  .footer__contacts {
    flex-direction: column;
  }

  .footer__details {
    flex-direction: column;
    align-items: center;
  }

  .footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__privacy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem auto;
  }
}